<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowater.ddms.dao.ProjectMainMapper">
    <resultMap id="BaseResultMap" type="com.knowater.ddms.entity.ProjectMain">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="serial_number" jdbcType="VARCHAR" property="serialNumber"/>
        <id column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <id column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <id column="address" jdbcType="VARCHAR" property="address"/>
        <id column="contact" jdbcType="VARCHAR" property="contact"/>
        <id column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <id column="project_type" jdbcType="INTEGER" property="projectType"/>
        <id column="manager" jdbcType="VARCHAR" property="manager"/>
        <id column="approval_time" jdbcType="TIMESTAMP" property="approvalTime"/>
        <id column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <id column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <id column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <id column="update_user" jdbcType="VARCHAR" property="remark"/>
        <id column="remark" jdbcType="VARCHAR" property="remark"/>
        <id column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <select id="select" resultMap="BaseResultMap" parameterType="com.knowater.ddms.entity.ProjectMain">
        select
          *
        from
          project_main
        where
          status = 1
          <if test="serialNumber != null">
              and serial_number = #{serialNumber}
          </if>
          <if test="projectName != null">
              and project_name LIKE CONCAT(CONCAT('%',#{projectName,jdbcType=VARCHAR}),'%')
          </if>
          <if test="orgName != null">
              and org_name LIKE CONCAT(CONCAT('%',#{orgName,jdbcType=VARCHAR}),'%')
          </if>
          <if test="contact != null">
              and contact = #{contact}
          </if>
          <if test="projectType != null">
              and project_type = #{projectType}
          </if>
          <if test="manager != null">
              and manager LIKE CONCAT(CONCAT('%',#{manager,jdbcType=VARCHAR}),'%')
          </if>
    </select>

</mapper>